Q1. Why do we call Python as a general purpose and high-level programming language?

its written human understand language and Python is an interpreted language. This means that every time a program is run, its interpreter runs through the code and translates it into machine-readable byte code

Q2. Why is Python called a dynamically typed languge?

because the type of variable is determined during run time..

Q3. List some pros and cons of Python programming language?

pros

its easy to understand it has minimal code compared to other languages its indentation make look the code easier its a run time interpreter language it has wide range of lib support

cons its bit slower compared to the compiler based language.

Q4. In what all domains can we use Python?

almost all example... mainly data enggineering,machine learning etc...

Q5. What are variable and how can we declare them?

its a name given to the memory block to identify when it's called of any kind of operation... declare by a = 10, b=20 here a and b are variables storing the int values in memory

Q6. How can we take an input from the user in Python?

using the keyword input()

Q7. What is the default datatype of the value that has been taken as an input using input() function?

string

Q8. What is type casting?

converting one data type to other..like int to float or float to int ...using int(float-value) and float(int value)

Q9. Can we take more than one input from the user using single input() function? If yes, how? If no, why?

yes, if we can take this into any conditional statements. no, in other cases.

Q10. What are keywords?

to understand python language need keywords like value,operators,control or conditional,

Q11. Can we use keywords as a variable? Support your answer with reason.

no, we can't use this keyword as variable as these are syntax specfic used for coding

Q12. What is indentation? What's the use of indentaion in Python?

it define the start and end of particaular statements and its a tab space.

Q13. How can we throw some output in Python?

using print() statement.

Q14. What are operators in Python?

these are used to perform the mathematical work and to check the logical operations.

Q15. What is difference between / and // operators?

/ division operator and // is or operator

Q16. Write a code that gives following as an output.

iNeuroniNeuroniNeuroniNeuron

In [2]:
#sol:
print('iNeuroniNeuroniNeuroniNeuron')

#-------or------- a = 'iNeuroniNeuroniNeuroniNeuron'

#print(a);

iNeuroniNeuroniNeuroniNeuron

Q17. Write a code to take a number as an input from the user and check if the number is odd or even.

In [8]:
num =int(input('please enter number :'))

if num%2==0: 
    print('given number is even') 
else: print('given number is odd')

please enter number : 5

given number is odd

Q18. What are boolean operator?

true false

Q19. What will the output of the following?

1 or 0

0 and 0

True and False and True

1 or 0 or 0

In [ ]:
#sol
1 
0
False 
1

Q20. What are conditional statements in Python?

if,elif,else,while,for,or,and

Q21. What is use of 'if', 'elif' and 'else' keywords?

these are conditional statement used to get at least one output

Q22. Write a code to take the age of person as an input and if age >= 18 display "I can vote". If age is < 18 display "I can't vote".

In [14]:
age =int(input('please enter your age :'))

if age>=18: 
    print('I can vote') 
else: print("I can't vote")

please enter your age : 34

I can vote

Q23. Write a code that displays the sum of all the even numbers from the given list.

numbers = [12, 75, 150, 180, 145, 525, 50]

In [16]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers[0 : ]: 
    if i%2==0: print(i)

12
150
180
50

Q24. Write a code to take 3 numbers as an input from the user and display the greatest no as output.

In [18]:
num1 =int(input("please enter the 1st num :" )) 
num2 =int(input("please enter the 2nd num :" )) 
num3 =int(input("please enter the 3rd num :" ))

if num1>num2 and num1>num3: 
    print("the greatest number is :", num1) 
elif num2>num1 and num2>num3: 
    print("the greatest number is :", num2) 
else: print("the greatest number is :", num3)

please enter the 1st num : 3
please enter the 2nd num : 4
please enter the 3rd num : 5

the greatest number is : 5

Q25. Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

numbers = [12, 75, 150, 180, 145, 525, 50]

In [66]:
num=[12, 75, 150, 180, 145, 525, 50]
num1=[]
for i in num:
    if i >150:
        if i>500:
            break
        continue
    if i%5==0:
        num1.append(i)
print(num1)

[75, 150, 145]

Q26. What is a string? How can we declare string in Python?

String is a colletcion of alphabets,words or characters these are the immutable...

In [67]:
#example to declare string
print('Hi iNeuron')
#using variable
a='Hi iNeuron'
print(a)

Hi iNeuron
Hi iNeuron

Q27. How can we access the string using its index?

In [6]:
#by using list[]
list=['abcd','efgh',1234]
print(list[1])

efgh

Q28. Write a code to get the desired output of the following
```
string = "Big Data iNeuron"
desired_output = "iNeuron"
```

In [12]:
string = "Big Data iNeuron"
out=string.split()
desired_output=out[2]
print(desired_output)

iNeuron

Q29. Write a code to get the desired output of the following
```
string = "Big Data iNeuron"
desired_output = "norueNi"
```

In [27]:
string = "Big Data iNeuron"
out=string.split()
desired_output=out[2][:: -1]
print(desired_output)

norueNi

Q30. Resverse the string given in the above question.

In [28]:
string = "Big Data iNeuron"[::-1]
print(string)

norueNi ataD giB

Q31. How can you delete entire string at once?

In [14]:
string='hi hello how are you'
print(string)
del string ## deleting sting
#print(string)## testing for deleted string

hi hello how are you

Q32. What is escape sequence?

In [12]:
#An escape sequence is a sequence of characters that, when used inside a character or string, does not represent itself but is converted into another character or series of characters

#example
    #print('Who's this?')

print('Who\'s this?')

Who's this?

Q33. How can you print the below string?

'iNeuron's Big Data Course'

In [9]:
#Solution

string="iNeuron's Big Data Course"

print("iNeuron's Big Data Course")

iNeuron's Big Data Course

Q34. What is a list in Python?

Ans: List is a collection of numbers or string characters which can be accessed by the index positions these are mutable in nature.

Q35. How can you create a list in Python?

In [5]:
#solution
#create list suing the closed square brakets 

list=[1,"test"]

print(type(list))

<class 'list'>

Q36. How can we access the elements in a list?

In [9]:
#Sol
#we can access elements in list using its index positions

#example

list=[1,"test1","keep_going"]

print(list[2]) ##we can input the index value to get the stored value in index

keep_going

Q37. Write a code to access the word "iNeuron" from the given list.

lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [14]:
#sol

list=[1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

print(list[4][2]) #print(list[4][-1])

iNeuron

Q38. Take a list as an input from the user and find the length of the list.

In [13]:
#sol

# def user_input():
list=[1,4,3.4,"test"]

print(len(list))

4

Q39. Add the word "Big" in the 3rd index of the given list.

lst = ["Welcome", "to", "Data", "course"]

In [7]:
lst = ["Welcome", "to", "Data", "course"]

add=lst.insert(3, "Big")

print(lst)

['Welcome', 'to', 'Data', 'Big', 'course']

Q40. What is a tuple? How is it different from list?

Ans. tuple is denoted by tuple().
tuple immutable where as list[] is mutable.

Q41. How can you create a tuple in Python?

In [10]:
tuple=(1,"test1",5,"happy")

print(type(tuple))
print(tuple[2])

<class 'tuple'>
5

Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

# tuple=(1,"test1",5,"happy")

# add=tuple.insert('hafeez')

# print(tuple)

Reason : since tuple is immuitable we can't add/insert elements

Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

# tuple1=(1,"test1",5,"happy")
# tuple2=(1,"test2",7,"sad")

# tuple=tuple1.append(tuple2)

# print(tuple1)

we can't append tuple because of same immutable property.

In [ ]:
Q44. Take a tuple as an input and print the count of elements in it.

In [10]:
tuple1 = tuple(input('Enter space-separated words: ').split())

print(tuple1)

user_input = input('Enter space-separated integers: ')

tuple2 = tuple(int(item) for item in user_input.split())

print(tuple2)

total_count=(tuple1+tuple2)

print("Count of elements in tuple are :",len(total_count))

Enter space-separated words:  sdfg retg ert

('sdfg', 'retg', 'ert')

Enter space-separated integers:  453 4634 3453

(453, 4634, 3453)
Count of elements in tuple are : 6

Q45. What are sets in Python?

Ans: Sets are used to store multiple items in a single variable.

Set has one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Q46. How can you create a set?

In [15]:
##set{}

new_set={"hi","hello","World",1234}

print(new_set)
print(type(new_set))
print(len(new_set))

{'hello', 1234, 'World', 'hi'}
<class 'set'>
4

Q47. Create a set and add "iNeuron" in your set.

In [4]:
#creating empty set
empty_set=set()
user_input=input("enter value: ").split() #iNeuron
#print(user_input)
empty_set.update(user_input)
print(empty_set)

enter value:  sdrgt wreg w

{'w', 'wreg', 'sdrgt'}

Q48. Try to add multiple values using add() function.

In [14]:
#adding values
word1={1,3,5,7,9}
#word1.append(word2)
word1.add(23)#we can't add multiple values using add()
print(word1)

{1, 3, 23, 5, 7, 9}

Q49.How is update() different from add()?

We use add() method to add single value to a set. We use update() method to add sequence values to a set. Here Sequences are any iterables including list , tuple , string , dict etc.

Q50. What is clear() in sets?

The clear() method removes all elements in a set.

Q51. What is frozen set?

The frozenset() function returns an immutable frozenset object initialized with elements from the given iterable.

Q52. How is frozen set different from set?

Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

Q53. What is union() in sets? Explain via code.

union() method returns a new set with distinct elements from all the sets.

In [16]:
A = {2, 3, 5}
B = {1, 3, 5}

# union between A and B
print('A U B = ', A.union(B))

A U B =  {1, 2, 3, 5}

Q54. What is intersection() in sets? Explain via code.

intersection() method returns a new set with elements that are common to all sets.

In [17]:
A = {2, 3, 5}
B = {1, 3, 5}

print('A intersection B = ', A.intersection(B))

A intersection B =  {3, 5}

Q55. What is dictionary in Python?

Dictionaries are Python's implementation of a data structure that is more generally known as an associative array

Q56. How is dictionary different from all other data structures.

1	Stores just a set of objects	Represents the relationship between pair of objects
2	
Lookup time is more in the  case of array O(N) 

where N is the size of the array

Lookup time is less compared to an array.

Generally, it is O(1) 

3	Elements are stored at contagious memory locations.	Elements may or may not be stored at a contagious memory location.
4	Items are unordered, changeable, and do allow duplicates	Items are ordered, changeable, and do not allow duplicates
5	Items are not represented as key: value pair	Items are represented as key: value pair
6	The values in the array are of the same data type	The values in dictionary items can be of any data type
7	Values can be accessed randomly without the need for any key	To access a value the key is required

Q57. How can we delare a dictionary in Python?

{}

In [2]:
d={}
type(d)

dict

Q58. What will the output of the following?

var = {}
print(type(var))

In [3]:
var = {}
print(type(var))

#output <class 'dict'>

<class 'dict'>

Q59. How can we add an element in a dictionary?

using->> update()

In [13]:
s={"test":2,"test1":1,"test2":3}
s.update({"test3":4})
s.update([("test5",5),("sample",7)])
print(s)

{'test': 2, 'test1': 1, 'test2': 3, 'test3': 4, 'test5': 5, 'sample': 7}

Q60. Create a dictionary and access all the values in that dictionary.

In [17]:
s={"test":2,"test1":1,"test2":3}
print(type(s))
print(s)

<class 'dict'>
{'test': 2, 'test1': 1, 'test2': 3}

Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [20]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people[1]['name'])
print(people[2]['age'])
print(people[1]['sex'])
#print(people)

John
22
Male
{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

Q62. What is the use of get() function?

The get() method returns the value of the item with the specified key.

In [5]:
#Example
car = {"brand" : 'benz',"price":250000,"model":2021}
car.get('brand')

'benz'

Q63. What is the use of items() function?

The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

The view object will reflect any changes done to the dictionary

In [7]:
#example
car = {"brand" : 'benz',"price":250000,"model":2021}

car.items()

dict_items([('brand', 'benz'), ('price', 250000), ('model', 2021)])

Q64. What is the use of pop() function?

The pop() method removes the item at the given index from the list and returns the removed item.

In [12]:
list=['HI','Hello',200,'how','are','you']

print(list.pop(2))

print(list)

200
['HI', 'Hello', 'how', 'are', 'you']

Q65. What is the use of popitems() function?

The Python popitem() method removes and returns the last element (key, value) pair inserted into the dictionary.

In [14]:
#Example
car = {"brand" : 'benz',"price":250000,"model":2021}

x=car.popitem()
print(x)
print(car)

('model', 2021)
{'brand': 'benz', 'price': 250000}

Q66. What is the use of keys() function?

The keys() method extracts the keys of the dictionary and returns the list of keys as a view object.

In [24]:
#Example

car = {"brand" : 'benz',"price":250000,"model":2021}

car.keys()

dict_keys(['brand', 'price', 'model'])

Q67. What is the use of values() function?

The values() method extracts the values of the dictionary and returns the list of values as a view object.

In [16]:
#Example

car = {"brand" : 'benz',"price":250000,"model":2021}

car.values()

dict_values(['benz', 250000, 2021])

Q68. What are loops in Python?

Looping means repeating something over and over until a particular condition is satisfied.

Q69. How many type of loop are there in Python?

for & while loops

Q70. What is the difference between for and while loops?

Both for loop and while loop is used to execute the statements repeatedly while the program runs. The major difference between for loop and the while loop is that for loop is used when the number of iterations is known, whereas execution is done in the while loop until the statement in the program is proved wrong

Q71. What is the use of continue statement?

The continue statement is used to skip the current iteration of the loop and the control flow of the program goes to the next iteration.

Q72. What is the use of break statement?

'Break' in Python is a loop control statement. It is used to control the sequence of the loop. Suppose you want to terminate a loop and skip to the next code after the loop; break will help you do that. A typical scenario of using the Break in Python is when an external condition triggers the loop's termination

Q73. What is the use of pass statement?

The pass statement is used as a placeholder for future code. When the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed. Empty code is not allowed in loops, function definitions, class definitions, or in if statements.

Q74. What is the use of range() function?

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

Q75. How can you loop over a dictionary?

You can loop through a dictionary by using a for loop. When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [26]:
#Example

for i in car:
    print(i)

brand
price
model

Q76. Write a Python program to find the factorial of a given number.

In [8]:
def facto(n):
    if (n==1 or n==0):
        return 1
    else: 
        return(n*facto(n-1))
            
ip=int(input("please input num to find factorial :"))
               
print("Factorial of",ip,"is",facto(ip))

please input num to find factorial : 5

Factorial of 5 is 120

Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

In [18]:
P=100000
R=0.2
T=12

SI=P*T*R/100

print(SI)

2400.0

Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [32]:
R=float(input("Enter the rate of intrest :"))
P=float(input("Enter the principle amount taken :"))
T=int(input("Enter the Time taken :"))

A=float(P*(1+R/100)**T)
CI=A-P

print("Compound intrest for principle",P,'is',CI)

Enter the rate of intrest : 10.25
Enter the principle amount taken : 100000
Enter the Time taken : 5

Compound intrest for principle 100000.0 is 62889.46267774416

Q79. Write a Python program to check if a number is prime or not.

In [16]:
num=int(input("Please enter num to check even or not : "))

if num%2==0:
    print("Given num",num,"is Even")
else:
    print("Given num",num,"is Odd")

Please enter num to check even or not :  23457

Given num 23457 is Odd

Q80. Write a Python program to check Armstrong Number.

In [2]:
# Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number:  153

153 is an Armstrong number

Q81. Write a Python program to find the n-th Fibonacci Number.

In [1]:
def Fibonacci(n):
    if n<= 0:
        print("Incorrect input")
    # First Fibonacci number is 0
    elif n == 1:
        return 0
    # Second Fibonacci number is 1
    elif n == 2:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2)
 
# Driver Program
 
print(Fibonacci(10))
 
# This code is contributed by Saket Modi

34

Q82. Write a Python program to interchange the first and last element in a list.

In [1]:
def swap(l):
    l[0],l[-1]=l[-1],l[0]
    return l
lt=[1,3,5,7]

print(swap(lt))

[7, 3, 5, 1]

Q83. Write a Python program to swap two elements in a list.

In [ ]:
def swap(l):
    l[0],l[-1]=l[-1],l[0]
    return l
lt=[1,3,5,7]

print(swap(lt))

Q84. Write a Python program to find N largest element from a list.

In [7]:
l = [-34,-67,46,13,14,15,17,99]
n = 4
 
l.sort()
print(l[-n:])

[15, 17, 46, 99]

Q85. Write a Python program to find cumulative sum of a list.

In [31]:
# list1=[4,10,15,18,20]

# x1=list1[0]+list1[1]
# x2=x1+list1[2]
# x3=x2+list1[3]
# x4=x3+list1[4]

# x5=list[0],x1,x2,x3,x4
# print(x5)


list=[10,20,30,40,50]
new_list=[]
j=0
for i in range(0,len(list)):
    j+=list[i]
    new_list.append(j)
    
print(new_list)

150
[10, 30, 60, 100, 150]

Q86. Write a Python program to check if a string is palindrome or not.

In [11]:
def palindrome(s):
    x=list(s)
    y=[]
    z=x[::-1]
    y.append(z)
    if (x==z):
        return True
    return False

s = "god"
ans = palindrome(s)
 
if ans:
    print("Yes")
 
else:
    print("No")

No

Q87. Write a Python program to remove i'th element from a string.

In [3]:
def rm_string(s,i):
    a=s[:i]
    b=s[i+1:]
    
    return a+b
string="Hihowareyou"
i=4
print(rm_string(string,i-1))

Hihwareyou

Q88. Write a Python program to check if a substring is present in a given string.

In [8]:
string="Hi how are you"

if "how" in string:
    print("It's there")
else:
    print("It's not there")

It's there

Q89. Write a Python program to find words which are greater than given length k.

In [16]:
n="Hi my name is Abdul all the best"
l=3
s=n.split(" ")
l=list(filter(lambda x: (len(x)>l),s))
print(l)

['name', 'Abdul', 'best']

Q90. Write a Python program to extract unquire dictionary values.

In [19]:
dict={'a':[1,2,3,3,4],'b':[3,4,4,5,1],'c':[6,2,1,6,4]}

print('This is the given Dict:',dict)
res=list(sorted({a for b in dict.values() for a in b}))
print('Unique values in list are',res)

This is the given Dict: {'a': [1, 2, 3, 3, 4], 'b': [3, 4, 4, 5, 1], 'c': [6, 2, 1, 6, 4]}
Unique values in list are [1, 2, 3, 4, 5, 6]

Q91. Write a Python program to merge two dictionary.

In [3]:
dict1={'a':[1,2,3,3,4],'b':[3,4,4,5,1]}
dict2={'c':[1,2,3,3,4],'d':[3,4,4,1]}

dict1.update(dict2)

print(dict1)

{'a': [1, 2, 3, 3, 4], 'b': [3, 4, 4, 5, 1], 'c': [1, 2, 3, 3, 4], 'd': [3, 4, 4, 1]}

Q92. Write a Python program to convert a list of tuples into dictionary.

Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [1]:
Input = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]

d1=dict((x,y) for x,y in Input)
print(d1)

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]

In [12]:
list=[9,5,6]
res=[(num,num**3) for num in list]
print(res)

[(9, 729), (5, 125), (6, 216)]

Q94. Write a Python program to get all combinations of 2 tuples.

Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [18]:
test_tuple1 = (7, 2)
test_tuple2 = (7, 8)

res=[(i,j) for i in test_tuple1 for j in test_tuple2]
res=res +[(i,j) for i in test_tuple2 for j in test_tuple1]

print(res)

[(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

Q95. Write a Python program to sort a list of tuples by second item.

Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [21]:
lt=[('for', 24), ('Geeks', 8), ('Geeks', 30)]
lt.sort(key = lambda x: x[1])
print(lt)

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

Q96. Write a python program to print below pattern.

* 
* * 
* * * 
* * * * 
* * * * *

In [26]:
# number of rows
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i+1 ):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *

Q97. Write a python program to print below pattern.

    *
   **
  ***
 ****
*****

In [8]:
n=5
i=0
while(i<=n):
  print(" " * (n - i) +"*" * i)
  i+=1

    *
   **
  ***
 ****
*****

Q98. Write a python program to print below pattern.

    * 
   * * 
  * * * 
 * * * * 
* * * * *

In [7]:
###Took from internet
def triangle(n):
     
    # number of spaces
    k = n - 1
 
    # outer loop to handle number of rows
    for i in range(0, n):
     
        # inner loop to handle number spaces
        # values changing acc. to requirement
        for j in range(0, k):
            print(end=" ")
     
        # decrementing k after each loop
        k = k - 1
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ", end="")
     
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
triangle(n)

    *
   * *
  * * *
 * * * *
* * * * *

Q99. Write a python program to print below pattern.

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [10]:
##Took from internet

def numpat(n):
     
    # initialising starting number
    num = 1
 
    # outer loop to handle number of rows
    for i in range(0, n):
     
        # re assigning num
        num = 1
     
        # inner loop to handle number of columns
            # values changing acc. to outer loop
        for j in range(0, i+1):
         
                # printing number
            print(num, end=" ")
         
            # incrementing number at each column
            num = num + 1
     
        # ending line after each row
        print("\r")
 
# Driver code
n = 5
numpat(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Q100. Write a python program to print below pattern.

A 
B B 
C C C 
D D D D 
E E E E E

In [12]:
###Took from internet

# Python 3.x code to demonstrate star pattern
 
# Function to demonstrate printing pattern of alphabets
def alphapat(n):
     
    # initializing value corresponding to 'A'
    # ASCII value
    num = 65
 
    # outer loop to handle number of rows
    # 5 in this case
    for i in range(0, n):
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # explicitly converting to char
            ch = chr(num)
         
            # printing char value
            print(ch, end=" ")
     
        # incrementing number
        num = num + 1
     
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
alphapat(n)

A
B B
C C C
D D D D
E E E E E